In [45]:
import math
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.decomposition import PCA
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, SCORERS
from sklearn.model_selection import cross_validate, cross_val_score
from sklearn.preprocessing import StandardScaler

import matplotlib.pyplot as plt

import statsmodels.api as sm

In [64]:
test = pd.read_csv("Test.csv")

(7068, 25)

In [67]:
test.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Pickup - Weekday (Mo = 1),Pickup - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id
0,Order_No_19248,User_Id_3355,Bike,3,Business,27,3,4:44:10 PM,27,3,...,3,5:06:47 PM,8,NaN,NaN,-1.333275,36.870815,-1.305249,36.822390,Rider_Id_192
1,Order_No_12736,User_Id_3647,Bike,3,Business,17,5,12:57:35 PM,17,5,...,5,1:25:37 PM,5,NaN,NaN,-1.272639,36.794723,-1.277007,36.823907,Rider_Id_868
2,Order_No_768,User_Id_2154,Bike,3,Business,27,4,11:08:14 AM,27,4,...,4,11:57:54 AM,5,22.8,NaN,-1.290894,36.822971,-1.276574,36.851365,Rider_Id_26
3,Order_No_15332,User_Id_2910,Bike,3,Business,17,1,1:51:35 PM,17,1,...,1,2:16:52 PM,5,24.5,NaN,-1.290503,36.809646,-1.303382,36.790658,Rider_Id_685
4,Order_No_21373,User_Id_1205,Bike,3,Business,11,2,11:30:28 AM,11,2,...,2,11:56:04 AM,6,24.4,NaN,-1.281081,36.814423,-1.266467,36.792161,Rider_Id_858

In [46]:
#Load processed data
df = pd.read_pickle("clean_training_processed.pkl")
features = df.columns
features = features.delete(features.get_loc("Travel_time"))
X_train = df[features]
y_train = df["Travel_time"]

In [47]:
X_test = pd.read_pickle("clean_testing_processed.pkl")

In [48]:
test_order_nos = pd.read_pickle("testing_order_numbers.pkl")

### Linear model with top 8 features

In [49]:
#Create model
model = LinearRegression()

In [50]:
#Fit
useful = ["No_Of_Orders", "Distance", "No_of_Ratings", "Average_Rating", "Pickup_weekday_6", "Pickup_time", "Pickup_weekday_1"]
X_train = X_train[useful]
X_test = X_test[useful]
model.fit(X_train, y_train)

LinearRegression()

In [51]:
y_pred = model.predict(X_test)
y_pred = pd.DataFrame(y_pred, columns=["Time from Pickup to Arrival"])
y_pred.head()

   Time from Pickup to Arrival
0                  1574.886077
1                  1144.483245
2                  1153.355809
3                  1083.139472
4                  1083.705915

In [65]:
y_pred.shape

(7068, 1)

In [52]:
seven_feat_linear_submit = pd.concat([test_order_nos, y_pred], axis=1)
seven_feat_linear_submit.head()

         Order No  Time from Pickup to Arrival
0  Order_No_19248                  1574.886077
1  Order_No_12736                  1144.483245
2    Order_No_768                  1153.355809
3  Order_No_15332                  1083.139472
4  Order_No_21373                  1083.705915

In [60]:
seven_feat_linear_submit.rename(columns={"Order No" : "Order_No"}, inplace=True)

In [61]:
seven_feat_linear_submit.head()

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                  1574.886077
1  Order_No_12736                  1144.483245
2    Order_No_768                  1153.355809
3  Order_No_15332                  1083.139472
4  Order_No_21373                  1083.705915

In [66]:
seven_feat_linear_submit.shape

(7068, 2)

In [69]:
seven_feat_linear_submit.to_csv("seven_feat_linear_submit.csv", index=False)